<div class="row footer justify-content-center">
  <div class="col-sm-3 justify-content-center">
    <div class="row sub-text1">
      <p>Subscribe to our Job Seeker Mailing List</p>
    </div>
    <div class="row sub-text2">
      <div class="col-sm-6 col-md-11">
        <form>
          <div class="form-group justify-content-center">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Your Email Address" >
          </div>
        </form>
      </div> 
    </div>
  </div>

  <div class="container footer-bottom">
    <div class="row  row-wrapper">
      <div class="row">
        <div class="col-sm-12">
          <input type="email" class="form-control" id="footerBottomMailInput1" >
        </div>
      </div>
      <div class="row sub-row">
        <div class="col-sm-17">
          <p>Copyright @ 2014 Two Bytes Consulting <b>Terms & Policies</b></p>
        </div>
      </div>
    </div>
  </div>
  