<div class="container user-profile-page">
  <div class="row">
    <div class="col-sm-4 heading">
      <h3>Profile</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-12">
          <img src="src\assets\images\profilepic.jpg" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <button type="button" class="btn btn-warning">Edit Photo</button>
        </div>
        <div class="col-sm-5">
          <button type="button" class="btn btn-warning">Edit Profile</button>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-12">
          <p>I'm Caroline Kassidy and I'm above 20 years and you can send your 
            emails to caroline.kassidy@publics.com. I live in the state of 
            Alaska.I like to play hockey, football and reading books. And please
            send me newsletters. Please reach out to me on my phone number</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <button type="button" class="btn btn-success">I Agree</button>
        </div>
      </div>
    </div>
  </div>
</div>
